body{
    background-image: url(../logo/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}
.cont-home{
    color: #212529;
    width: 50%;
    margin-left: 120px;
    margin-top: 95px;
    
    line-height: 3em;
    margin-bottom: 140px;
    text-align: left;
}
@media(max-width:480px){
    .cont-home{
        width: 80%;
        margin: 0 auto;   
    }
    .cont{
        position: relative;
        top: 90px;
    }
}
.spinner{
    width: 100%;
}