.cont-buttonn{
    text-align: end;
    position: relative;
    bottom: 70px;
    padding: 7px;
    width: 200px;
    left: 300px;
    float: right;
}
@media(max-width: 480px){
    .cont-buttonn{
        bottom: 340px;
    }
}